/venv
.ipynb_checkpoints/
.DS_Store

# Milestone file
milestone/milestone.aux	
milestone/milestone.fls
milestone/milestone.out
milestone/milestone.synctex.g
milestone/milestone.fdb_latexmk
milestone/milestone.log
