/venv
.ipynb_checkpoints/
.DS_Store
__pycache__/

# Milestone file
milestone/milestone.aux
milestone/milestone.fls
milestone/milestone.out
milestone/milestone.synctex.gz
milestone/milestone.fdb_latexmk
milestone/milestone.log
